body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #643d87;
}
#principal{
    width: 340px;
    height: 330px;
    background-color: aqua;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 430px;
    position: fixed;
    padding: 30px;
    
    
}
#rodape{
    clear: both;
    text-align: center;
    margin-top: 460px;
    font-size: 20px;
    color: #fff;
}
h1{
    text-align: center;
    border-radius: 10px;
    background-color: aqua; 
    padding: 10px;
    margin-top: 20px;
}

#left{
    width: 400px;
    height: 400px;
    background-color: aqua;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
    left: 15px;
    opacity: 100%;
    
}
#right{
    width: 400px;
    height: 400px;
    background-color: aqua;
    border-radius: 10px;
    margin-top: 10px;
    position: fixed;
    right: 15px;
    opacity: 100%;
}
.imagem{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
input ,.btn{
	height: 40px;
	width: 100%;
	font-size: 20px;
	margin-bottom: 10px;
	background-color: #fff;	
	padding-left: 40px;
	border-radius: 10px; 
    background-position: 10px;
}
.btn{
    text-align: center;
}
#escolha{
    width: 80%;
    text-align: center;
    font-size: 25px;
    position: absolute;
    
}
